{% extends "base2.html" %}

{% block title %}Creazione Stanza  {% endblock %}

{% block style %}
    <style>
        .navbar-base {
            background-color: #223445;
        }
        .wht-text
        {
            color: whitesmoke!important;
        }

        .nav-b {
            color: #fff!important;
            background-color: #ccbb99!important;
        }

        .footer-bkg{
            background-color: #ccbb99!important;
        }
        label {
            cursor: default;
            color: white
        }
        .footer {

            margin-top: -50px;
        }
    </style>
{% endblock%}

{% block content %}
    <div class="well " align="center" style="background-color: #ccbb99;padding: 10px" >
        <form action="." method="POST">
            {% csrf_token %}
                {{ form_aggiungi_stanza.as_p }}

            <input type="Submit" name="Submit" value="Aggiungi">
        </form>
    </div>
{% endblock %}