{% extends "base2.html" %}

{% block header %}
    <head>
        {% load staticfiles %}
        <title> {% block title %}Search result{% endblock %} </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
        </style>
    </head>
        <!-- Navigation Bar -->
    <div class="w3-bar w3-large navbar-base">
        <a href="/myBookingApp_2/" class="w3-bar-item w3-button nav-b wht-text w3-mobile"><i class="fa fa-bed w3-margin-right"></i>MyBookingApp</a>

    </div>

    <header class="w3-display-container w3-content" style="max-width:1500px;">
            <img src="{% static "/images/pagina_iniziale/1.jpg"%}"  height="70%" width="100%" alt="The Hotel" >
    </header>

{% endblock%}
{% block content %}
        <div style="text-align: center">
            <br>
            <a href="myBookingApp_2/">
                <input type="button" value="MyBookingApp">
            </a>
            <a href="admin/">
                <input type="button" value="Admin">
            </a>
        </div>

{% endblock%}