{% extends "base2.html" %}


{% block header %}
    <head>
        {% load staticfiles %}
        <title> {% block title %}Search result{% endblock %} </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script>
            function Loginrequired(){
                    alert('You must authenticated before do this')
                }

            function DateControll(){

                var check_in_month = document.getElementById("id_check_in_month")
                var check_out_month = document.getElementById("id_check_out_month")
                var check_in_day = document.getElementById("id_check_in_day")
                var check_out_day = document.getElementById("id_check_out_day")
                var check_in_year = document.getElementById("id_check_in_year")
                var check_out_year = document.getElementById("id_check_out_year")

                var todayMonth = new Date().getMonth() +1;
                {#alert(todayMonth)#}
                var todayDay =  new Date().getUTCDate();
                {#alert(todayDay)#}

                if ( check_in_month.options[check_in_month.selectedIndex].value < todayMonth)
                {
                    event.preventDefault()
                    alert("ERRORE DATA ANTECEDENTE A OGGI")
                }
                else if (check_in_month.options[check_in_month.selectedIndex].value >= todayMonth && check_in_day.options[check_in_day.selectedIndex].value < todayDay)
                {
                    event.preventDefault()
                    alert("ERRORE DATA ANTECEDENTE A OGGI")
                }
                else if (check_in_year.options[check_in_year.selectedIndex].value > check_out_year.options[check_out_year.selectedIndex].value)
                {
                    event.preventDefault()
                    alert("ERRORE ANNO ! LA DATA DI CHECKIN RISULTA ESSERE MAGGIORE DELLA DATA DI CHECKOUT")
                    return false;
                }
                else if (check_in_month.options[check_in_month.selectedIndex].value > check_out_month.options[check_out_month.selectedIndex].value )
                {
                    event.preventDefault()
                    alert("ERRORE MESE! LA DATA DI CHECKIN RISULTA ESSERE MAGGIORE DELLA DATA DI CHECKOUT")
                    return false;
                }
                {#else if (check_in_day.options[check_in_day.selectedIndex].value > check_out_day.options[check_out_day.selectedIndex].value)#}
                else if (check_in_day.selectedIndex > check_out_day.selectedIndex)
                {
                    event.preventDefault()
                    alert("ERRORE GIORNO! LA DATA DI CHECKIN RISULTA ESSERE MAGGIORE DELLA DATA DI CHECKOUT")
                    return false;
                }
            }
                {#var strUser = e.options[e.selectedIndex].value;#}
                {#    alert(strUser)#}

        </script>
        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
        </style>
    </head>
        <!-- Navigation Bar -->
    <div class="w3-bar w3-large navbar-base">
        <a href="/myBookingApp_2/" class="w3-bar-item w3-button nav-b wht-text w3-mobile"><i class="fa fa-bed w3-margin-right"></i>MyBookingApp</a>

        {% if not user.is_authenticated %}
        <a href="/myBookingApp_2/registrazioneutente" class="w3-bar-item w3-button wht-text w3-mobile">Registrazione Utente</a>
        <a href="/myBookingApp_2/registrazionegestore" class="w3-bar-item w3-button wht-text w3-mobile">Registrazione Gestore</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/myBookingApp_2/logout" class="w3-bar-item w3-button nav-b wht-text w3-mobile w3-right"  >Logout</a>
            <a href="http://127.0.0.1:8000/myBookingApp_2/userpage" class="w3-bar-item w3-button nav-b wht-text w3-mobile w3-right" >{{ user.username }}</a>
        {% else %}
            <a href="http://127.0.0.1:8000/myBookingApp_2/login" class="w3-bar-item w3-button nav-b wht-text w3-right w3-mobile">Login</a>
            <a class="w3-bar-item w3-button w3-right w3-mobile nav-b wht-text">Anonymous</a>
        {% endif %}
    </div>

    <header class="w3-display-container w3-content" style="max-width:1500px;">
            <img src="{% static "/images/pagina_iniziale/2.jpg"%}"  height="70%" width="100%" alt="The Hotel" >
    </header>

{% endblock%}

{% block content %}
    <div class="col-sm-4 well" align="left" style="background-color:  #ccbb99;padding: 10px" >
        <form action="." method="POST">
            {% csrf_token %}
                {{form_search.as_p }}
            <input type="Submit" name="Submit" value="Cerca" onclick="DateControll()">
        </form>
    </div>

    <div class="col-sm-8 " style="background-color:#223344; ">
        {% if risultati_hotel %}
            {% for ris_hotel in risultati_hotel %}

                <div class="locations " style="padding-bottom: 15px;border:3px solid #eee;">
                    <div style="margin: 10px;">
                        <h2 style="color: red;text-align: center; font-weight: bold;font-size: 35px;">{{ris_hotel.nome}}</h2>  
                        <p class="wht-text">Descrizione: {{ris_hotel.descrizione}}

                        <p class="wht-text">Valutazione: {{ris_hotel.media_voto}}


                        <hr>
                        <p class="wht-text"> {{ris_hotel.indirizzo}} -
                            {{ris_hotel.citta}} -
                            {{ris_hotel.stato}} -
                            {{ris_hotel.telefono}}.
                        </p>
                        <hr>
                        <p class="wht-text"><a href="{{ris_hotel.sito}}">Site web</a></p>
                        <hr>
                        <p class="wht-text"><h4 class="wht-text">Features:</h4>
                            <ul style="list-style-type: none" class="wht-text">
                            <li>{% if ris_hotel.piscina == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Piscina </li>
                            <li>{% if ris_hotel.WiFi == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} WiFi</li>
                            <li>{% if ris_hotel.accesso_disabili == True %} <span class="glyphicon glyphicon-ok"></span>{% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Accesso disabili</li>
                            <li>{% if ris_hotel.ristorante == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Ristorante</li>
                            <li>{% if ris_hotel.parcheggio == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Parcheggio</li>
                            <li>{% if ris_hotel.palestra == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Palestra</li>
                            <li>{% if ris_hotel.bar == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Bar</li>
                            <li>{% if ris_hotel.spa == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} S.P.A</li>
                            </ul>
                        </p>



                    {% for r in stanze_filtrate %}
                        {% if ris_hotel.id == r.id_hotel.id %}
                           {% if r.id in stanze_prenotate %}
                                <div class="well" style="background-color: #802d37">
                                    <h3 style="color: #2d3f80;">Stanza numero {{r.num_camera}} per {{r.num_persone}} persone</h3>
                                    <hr>
                                    <p>
                                        Prezzo stanza: {{ r.prezzo }}<br>
                                        Giorni alloggio: {{ data.2 }}<br>
                                        <p><h4>Features:</h4>
                                        <ul style="list-style-type:none">
                                            <li>{% if r.aria_condizionata == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Aria Condizionata</li>
                                            <li>{% if r.fumatori == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Stanza fumatori</li>
                                            <li>{% if r.animali == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Animali</li>
                                        </ul>
                                        </p>
                                    </p>
                                    <form action="/myBookingApp_2/wishlist/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value={{r.id}}>
                                        <input type="hidden" name="data_arrive" value={{ data.0 }}>
                                        <input type="hidden" name="data_leave" value={{ data.1 }}>
                                        <input type="Submit" name="AggiungiAWishlist" value="Aggiungi alla Wishlist">
                                    </form>
                                </div>
                           {% else %}
                               <div class="well" style="background-color: #36802d">
                                   <h3 style="color: #2d3f80;text-align: center; font-weight: bold">Stanza numero {{r.num_camera}} per {{r.num_persone}} persone</h3>
                                   <hr>
                                   <p class="wht-text">
                                       Prezzo stanza: {{ r.prezzo }}<br>
                                       Giorni alloggio: {{ data.2 }}<br>
    {#                                   <b>Totale: {{ data.2|moltiplicazione:r.prezzo }}</b><br><hr>#}
                                       <p><h4 class="wht-text">Features:</h4>
                                           <ul style="list-style-type:none"class="wht-text">
                                           <li>{% if r.aria_condizionata == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Aria Condizionata</li>
                                           <li>{% if r.fumatori == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Stanza fumatori</li>
                                           <li>{% if r.animali == True %} <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-remove"> </span>{% endif %} Animali</li>
                                           </ul>
                                       </p>
                                   </p>
                                       <form action="/myBookingApp_2/riepilogoprenotazione/" method="post">
                                            {% csrf_token %}
                                                <input type="hidden" name="id_hotel" value={{ris_hotel.id}}>
                                                <input type="hidden" name="id" value={{r.id}}>
                                                <input type="hidden" name="data_arrive" value={{ data.0 }}>
                                                <input type="hidden" name="data_leave" value={{ data.1 }}>
                                            {% if user.is_authenticated %}
                                                <input type="Submit" name="AggiungiPrenotazione" value="Prenota" >
                                            {% else %}
                                                <input type="Submit" name="Submit" value="Prenota">
                                            {% endif%}
                                       </form>
                               </div>
                           {% endif %}
                        {% endif %}
                    {% endfor %}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
