{% extends "base2.html" %}

{% block header %}
    <head>
        {% load staticfiles %}
        <title> {% block title %}Search result{% endblock %} </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
        </style>
    </head>
        <!-- Navigation Bar -->
    <div class="w3-bar w3-large navbar-base">
        <a href="/myBookingApp_2/" class="w3-bar-item w3-button nav-b wht-text w3-mobile"><i class="fa fa-bed w3-margin-right"></i>MyBookingApp</a>
{#            <a href="#about" class="w3-bar-item wht-text w3-button w3-mobile">About</a>#}
{#            <a href="#contact" class="w3-bar-item w3-button wht-text w3-mobile">Contact</a>#}
        {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/myBookingApp_2/logout" class="w3-bar-item w3-button nav-b wht-text w3-mobile w3-right"  >Logout</a>
            <a href="http://127.0.0.1:8000/myBookingApp_2/userpage" class="w3-bar-item w3-button nav-b wht-text w3-mobile w3-right" >{{ user.username }}</a>
        {% else %}
            <a href="http://127.0.0.1:8000/myBookingApp_2/login" class="w3-bar-item w3-button nav-b wht-text w3-right w3-mobile">Login</a>
            <a class="w3-bar-item w3-button w3-right w3-mobile nav-b wht-text">Anonymous</a>
        {% endif %}
    </div>

    <header class="w3-display-container w3-content" style="max-width:1500px;">
            <img src="{% static "/images/pagina_iniziale/3.jpg"%}"  height="70%" width="100%" alt="The Hotel" >
    </header>

{% endblock%}

{% block content %}
{#<nav>#}
{#    <h1 style="font-size: 300%;color: white">Riepilogo prenotazione:</h1>#}
{#</nav>#}
    {% for h in nome_hotel %}
         <table style="width:100%">
                    <tr>
                        <td>
                            <div class="prenotations wht-text col-md-12 well " style="background-color:  #ccbb99;padding: 10px" >
                                <div class="col-md-6" style="color: darkred!important;">
                                    <p><h1>Hotel:</h1></p>
                                    <p><h1>Stanza: </h1> </p>
                                    <p><h1>Indirizzo: </h1></p>
                                    <p><h1>Città: </h1></p>
                                    <hr>
                                    <p><h1>Utente Prenotazione: </h1></p>
                                    <p><h1>Data Check In: </h1> </p>
                                    <p><h1>Data Check Out: </h1> </p>

                                </div>
                                 <div class="col-md-6">
                                    <p><h1>{{h.nome}}</h1></p>
                                    <p> <h1>{{nome_stanza}}</h1></p>
                                    <p><h1>{{h.indirizzo}}</h1></p>
                                     <p><h1>{{h.citta}}</h1></p>
                                     <hr>
                                    <p> <h1>{{user}}</h1></p>
                                    <p><h1>{{check_in}}</h1></p>
                                    <p> <h1>{{check_out}}</h1></p>

                                </div>


                            </div>
                            <div class="col-md-12" style="text-align:center">
                                <form action="/myBookingApp_2/prenota/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_hotel" value={{h.id}}>
                                    <input type="hidden" name="id" value={{nome_stanza}}>
                                    <input type="hidden" name="data_arrive" value={{ check_in }}>
                                    <input type="hidden" name="data_leave" value={{ check_out }}>

                                    <input type="Submit" name="AggiungiPrenotazione" value="Conferma Prenotazione">
                                </form>
                            </div>

                        </td>
                    </tr>
        </table>
    {% endfor %}
{% endblock %}
