{% extends "base.html" %}

{% block content %}
<nav>
    <h1 style="font-size: 300%;">Prenotations:</h1>
</nav>


     <table style="width:100%">
        {% for p in prenotazioni %}
            <p> 
                <tr>
                    <td>
                        <div class="prenotations" style="background-color: orangered">
                            <p><h2>Hotel: {{p.id_stanza.id_hotel}}</h2></p>
                            <p><h2>Stanza: {{p.id_stanza}}</h2></p>
                            <p><h2>Utente Prenotazione: {{p.id_user}}</h2></p>
                            <p><h2>Check_in: {{p.check_in}}</h2></p>
                            <p><h2>Check_out: {{p.check_out}}</h2></p>
                            </p>

                            {% if p.check_out.year <= current_date.year and p.check_out.month <= current_date.month and p.check_out.day <= current_date.day %}

                                    <h2>Vote your holiday:</h2>
                                            <form action="/myBookingApp_2/votazione/" method="POST">
                                                {% csrf_token %}

                                                <input type="number" name="stelle" value="1" min="1" max="5">
                                                <input type="Submit" name="SubmitVote" value="Vote" id="mySubmitVote"><br><br>
                                                <input type="hidden" name="HotelID" value={{ p.id_stanza.id_hotel_id }}>
                                            </form>
                            {% endif%}

                                    <form action="/myBookingApp_2/cancellaprenotazione/" method="post">
                                        {% csrf_token %}

                                            <input type="hidden" name="IdPrenotazione" value={{p.id}}>
{#                                            <input type="hidden" name="data_checkin" value={{p.check_in}}>#}
{#                                            <input type="hidden" name="data_checkout" value={{p.check_out}}>#}

                                            <input type="Submit" name="CancellaPrenotazione" value="Cancella Prenotazione">


                                    </form>

                        </div>
                    </td>
                </tr>
            </p>
        {% endfor %}
    </table>


<nav>
    <h1 style="font-size: 300%;">Whishlist:</h1>
</nav>
    <table style="width:100%">
            {% for p in lista_attesa %}
                <p> 
                    <tr>
                        <td>
                            <div class="lista_attesa" style="background-color: yellow">
                                <p><h2>Hotel: {{p.lista_attesa.id_hotel}}</h2></p>
                                <p><h2>Stanza: {{p.lista_attesa.num_camera}}</h2></p>

                                </p>

                                        <form action="/myBookingApp_2/cancellawishlist/" method="post">
                                            {% csrf_token %}

                                                <input type="hidden" name="IdWishlist" value={{p.id}}>
    {#                                            <input type="hidden" name="data_checkin" value={{p.check_in}}>#}
    {#                                            <input type="hidden" name="data_checkout" value={{p.check_out}}>#}

                                                <input type="Submit" name="CancellaWishlist" value="Cancella Wishlist">


                                        </form>

                            </div>
                        </td>
                    </tr>
                </p>
            {% endfor %}
    </table>
{% endblock %}


<footer>
    <em>scisoacsacoakocak</em>
</footer>
</body>
</html>
