{% extends "base2.html" %}

{% block header %}
    <head>
        {% load staticfiles %}
        <title> {% block title %}Search result{% endblock %} </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
        </style>
    </head>
        <!-- Navigation Bar -->
    <div class="w3-bar w3-large navbar-base">
        <a href="/myBookingApp_2/" class="w3-bar-item w3-button nav-b wht-text w3-mobile"><i class="fa fa-bed w3-margin-right"></i>MyBookingApp</a>

        {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/myBookingApp_2/logout" class="w3-bar-item w3-button nav-b wht-text w3-mobile w3-right"  >Logout</a>
            <a href="http://127.0.0.1:8000/myBookingApp_2/userpage" class="w3-bar-item w3-button nav-b wht-text w3-mobile w3-right" >{{ user.username }}</a>
        {% else %}
            <a href="http://127.0.0.1:8000/myBookingApp_2/login" class="w3-bar-item w3-button nav-b wht-text w3-right w3-mobile">Login</a>
            <a class="w3-bar-item w3-button w3-right w3-mobile nav-b wht-text">Anonymous</a>
        {% endif %}
    </div>

    <header class="w3-display-container w3-content" style="max-width:1500px;">
            <img src="{% static "/images/pagina_iniziale/4.jpg"%}"  height="70%" width="100%" alt="The Hotel" >
    </header>

{% endblock%}

{% block content %}
    {% if visible %}
        <div style="text-align: center">
            <h1 class="wht-text">Pagina direzione</h1>
            <br>
            <a href="/myBookingApp_2/creahotel/">
                <input type="button" value="Aggiungi Hotel">
            </a>
            <a href="/myBookingApp_2/creastanza/">
                <input type="button" value="Aggiungi Stanza">
            </a>
        </div>
    {% else %}
        <nav>
            <h1 style="font-size: 300%;color: white">Prenotations:</h1>
        </nav>
        <table style="width:100%">
            {% if prenotazioni %}
                {% for p in prenotazioni %}
                    <tr>
                        <td>
                            <div class="well" style="background-color: #ccbb99">
                                <p><h2>Hotel: {{p.id_stanza.id_hotel}}</h2></p>
                                <p><h2>Stanza: {{p.id_stanza}}</h2></p>
                                <p><h2>Utente Prenotazione: {{p.id_user}}</h2></p>
                                <p><h2>Check_in: {{p.check_in}}</h2></p>
                                <p><h2>Check_out: {{p.check_out}}</h2></p>
                                </p>

                                {% if p.check_out.year <= current_date.year and p.check_out.month <= current_date.month and p.check_out.day <= current_date.day %}

                                    <h2>Vote your holiday:</h2>
                                            <form action="/myBookingApp_2/votazione/" method="POST">
                                                {% csrf_token %}

                                                <input type="number" name="stelle" value="1" min="1" max="5">
                                                <input type="Submit" name="SubmitVote" value="Vote" id="mySubmitVote"><br><br>
                                                <input type="hidden" name="HotelID" value={{ p.id_stanza.id_hotel_id }}>
                                            </form>
                                {% endif%}

                                    <form action="/myBookingApp_2/cancellaprenotazione/" method="post">
                                        {% csrf_token %}

                                            <input type="hidden" name="IdPrenotazione" value={{p.id}}>

                                            <input type="Submit" name="CancellaPrenotazione" value="Cancella Prenotazione">


                                    </form>

                                    <form action="/myBookingApp_2/editprenotazione/" method="post">
                                        {% csrf_token %}

                                            <input type="hidden" name="IdPrenotazione" value={{p.id}}>
                                            <input type="hidden" name="data_checkin" value={{p.check_in}}>
                                            <input type="hidden" name="data_checkout" value={{p.check_out}}>


                                            <input type="Submit" name="ModificaPrenotazione" value="Modifica Prenotazione">


                                    </form>                        </div>
                    </td>
                </tr>

        {% endfor %}{% else%}
              <h3 style="text-align: center;color: white;font-weight: bold;padding-bottom: 20px">Nessuna prenotazione trovata</h3>
            {% endif %}
    </table>


<nav>
    <h1 style="font-size: 300%;Color: White">Wishlist:</h1>
</nav>
    <table style="width:100%">
        {% if lista_attesa %}
            {% for p in lista_attesa %}
                    <tr>
                        <td>
                            <div class="well" style="background-color: #ccbb99">
                                <p><h2>Hotel: {{p.lista_attesa.id_hotel}}</h2></p>
                                <p><h2>Stanza: {{p.lista_attesa.num_camera}}</h2></p>
                                <p><h2>Check In: {{p.check_in_lista_attesa}}</h2></p>
                                <p><h2>Check Out: {{p.check_out_lista_attesa}}</h2></p>

                                </p>

                                        <form action="/myBookingApp_2/cancellawishlist/" method="post">
                                            {% csrf_token %}

                                                <input type="hidden" name="IdWishlist" value={{p.id}}>

                                                <input type="Submit" name="CancellaWishlist" value="Cancella Wishlist">


                                        </form>

                            </div>
                        </td>
                    </tr>

            {% endfor %}
        {% else%}
          <h3 style="text-align: center;color: white;font-weight: bold;padding-bottom: 20px">Nessuna camera in lista d'attesa</h3>
        {% endif %}
    </table>
    {% endif %}
{% endblock %}
